.config/nvim/target
.config/nvim/lua/current_theme.lua

.config/fish/completions/**
.config/fish/functions/**
.config/fish/conf.d/**
.config/fish/fish_variables
.config/fish/fish_variables.*

.config/qutebrowser/default.py
