@theme "tokyonight"

configuration {
    modes: "drun,calc,clip:~/.config/rofi/modes/clip.sh,power:~/.config/rofi/modes/power.sh";

    drun-display-format: "{name}";
    drun-match-fields: "name";

    matching: "normal";
    case-smart: true;

    calc {
        calc-command: "wl-copy {result}";
        terse: true;

        hint-welcome: "";
        hint-result: "";
    }

    hover-select: true;

    // free the Tab key to open rofi-rbw menus:
    kb-element-next: "";
    kb-element-prev: "";

    kb-cancel: "Escape";
    me-select-entry: "MousePrimary";
    me-accept-entry: "!MousePrimary";

    timeout {
        action: "kb-cancel";
        delay:  0;
    }
}
