@import "tokyonight.css";

window#waybar {
    background-color: transparent;
}

window#waybar > box {
    background-color: @backgrounddark;
    padding: 0;
    margin: 5px 6px 0 5px;
    border-radius: 0;
}

* {
    font-family: JetBrainsMono NF;
    font-weight: 600;
    font-size: 16px;
    padding: 0;
}

#cpu,
#memory,
#disk,
#pulseaudio,
#workspaces,
#clock,
#sys-settings,
#network,
#network.linked,
#network.ethernet,
#network.wifi {
    background-color: @background;
}

#cpu {
    color: @module1;
}

#memory {
    color: @module2;
}

#disk {
    color: @module3;
}

#pulseaudio {
    color: @module2;
}

#pulseaudio.muted, #pulseaudio.source-muted {
    color: @module3;
}

#clock {
    color: @module1;
}

#custom-notifications {
    color: @color14;
}


#cpu, #memory, #disk, #tray, #pulseaudio, #clock, #custom-notifications {
    padding: 0 8px 0 8px;
    margin: 0;
}

#cpu, #memory, #disk {
    margin-right: 4px;
}

#pulseaudio, #clock {
    margin-left: 4px;
}

/* Internet module spaced away from bluetooth */
#bluetooth {
    margin-right: 10px;
}

#workspaces {
    margin: 0 2px;
}

#workspaces button {
    color: @textdark;
}

#workspaces button.active {
    background-color: @color12;
    color: @backgrounddark;
}

#workspaces button.urgent {
    color: @color5;
}

#workspaces button:hover {
    color: @color7;
    background-color: @background;
}

#bluetooth {
    color: @color12;
    padding: 0;
}

#bluetooth:hover {
    color: @color7;
}

#custom-notifications {
    padding-right: 10px;
}

#network {
    margin-right: 2px;
}

@keyframes blink {
    to {
        color: @text;
    }
}

#battery.charging {
    animation-name: blink;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery {
    margin-left: 2px;
    margin-right: 5px;
}

tooltip {
    padding: 5px;
    background-color: @backgrounddark;
    color: @foreground;
}

tooltip label {
    padding: 5px;
    color: @textdark;
}
