:root {
    --cc-bg: #16161d;
    --noti-border-color: #7AA2F7;
    --noti-bg: #1a1b26;
    --noti-bg-darker: #2b2b39;
    --noti-bg-hover: #1b1b2b;
    --noti-bg-hover-opaque: #1b1b2b;
    --noti-bg-focus: transparent;
    --noti-close-bg: #7AA2F7;
    --noti-close-bg-hover: #7AA2F7;
    --text-color: #7AA2F7;
    --text-color-disabled: #828282;
    --bg-selected: #7e9cd8;
    --border-blue: #7AA2F7;
    --red-base: #c34043;
    --red-hover: #e46876;
    --green-base: #98bb6c;
    --blue-base: #7AA2F7;
    --yellow-base: #ffc777;
    --noti-group-button-hover: rgba(0, 0, 0, 0.5);

    --border-radius: 0;

    --font-size-summary: 16px;
}

* {
    font-family: "JetBrainsMono NFM SemiBold", monospace;
}

scrollbar trough {
  margin: 0;
  padding: 0;
}

.control-center {
    border-radius: 0;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
    background: transparent;
}

.control-center .notification-background {
    padding: 3px 2px;
}

.control-center .notification {
    box-shadow: none;
}

.notification-row {
    outline: none;
    margin: 0;
    padding: 0;
}

.notification,
.notification-content,
.notification-content .image,
.notification-action,
.notification-default-action,
.inline-reply-entry,
.inline-reply-button,
.widget-title,
.widget-title>button,
.widget-dnd,
.widget-dnd>switch,
.widget-dnd>switch slider,
.widget-label>label,
.widget-buttons-grid,
.widget-buttons-grid>flowbox>flowboxchild>button,
.widget-volume,
.widget-slider,
.widget-mpris,
.widget-mpris>box>button,
.widget-mpris-player,
.widget-mpris-album-art {
    border-radius: 0;
}

.widget-notifications {
    padding: 0;
}

.notification-group .notification-group-buttons,
.notification-group .notification-group-headers {
    margin: 0;
    color: var(--text-color);
}

.notification-group .notification-group-buttons button {
    background-color: var(--cc-bg);
    border-radius: 0;
    padding: 0;
}

.notification-group .notification-group-buttons button:hover {
    background-color: var(--noti-group-button-hover);
}

.notification {
    background: var(--cc-bg);
    border: 1px solid var(--border-blue);
}

.control-center .notification {
    margin: 3px -2px 3px -2px;
}

.floating-notifications .notification-background {
    margin: 12px 12px 0 0;
    padding: 0;
}

.close-button {
    background: var(--red-base);
    color: var(--cc-bg);
    text-shadow: none;
    padding: 0;
    margin-top: 5px;
    margin-right: 5px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    border-radius: 0;
    border: none;
}

.notification:hover .close-button {
    opacity: 1;
}

.close-button:hover {
    background: var(--red-hover);
    box-shadow: none;
    transition: all 0.15s ease-in-out;
}

.notification-action {
    font-size: 15px;
}

.notification-default-action:hover,
.notification-action:hover {
    color: var(--blue-base);
    background: var(--cc-bg);
}

.inline-reply-entry {
    font-size: 15px;
    background: var(--noti-bg-darker);
    color: var(--text-color);
    caret-color: var(--text-color);
}

.inline-reply-button {
    font-size: 15px;
    margin-top: 4px;
    margin-left: 4px;
    background: var(--noti-bg);
    color: var(--text-color);
}

.inline-reply-button:disabled {
    background: transparent;
    color: var(--text-color-disabled);
}

.inline-reply-button:hover {
    background: var(--noti-bg-hover);
}

.notification-content .image {
    margin: 6px;
}

.notification-content .summary {
    font-weight: 700;
    background: transparent;
    color: var(--green-base);
    text-shadow: none;
    margin-left: 6px;
}

.notification-content .time {
    font-weight: 700;
    background: transparent;
    color: var(--yellow-base);
    text-shadow: none;
    margin-right: 6px;
}

.notification-content .body {
    font-size: 16px;
    font-weight: 400;
    background: transparent;
    color: var(--text-color);
    text-shadow: none;
    margin-left: 6px;
}

.control-center {
    background: var(--cc-bg);
    border: 1px solid var(--border-blue);
}

.widget-title {
    color: var(--blue-base);
    background: var(--noti-bg-darker);
    padding: 5px 10px;
    margin: 10px 10px 5px 10px;
    font-size: 20px;
}

.widget-title>button {
    font-size: 16px;
    color: var(--text-color);
    background: var(--noti-bg);
    box-shadow: none;
}

.widget-title>button:hover {
    background: var(--red-base);
    color: var(--cc-bg);
}

.widget-dnd {
    background: var(--noti-bg-darker);
    padding: 5px 10px;
    margin: 5px 10px;
    font-size: large;
    color: var(--blue-base);
}

.widget-dnd>switch {
    background: var(--blue-base);
    border-radius: 0;
}

.widget-dnd>switch:checked {
    background: var(--red-base);
    border: 1px solid var(--red-base);
}

.widget-label>label {
    font-size: 16px;
    color: var(--text-color);
    margin: 10px;
}

.widget-buttons-grid {
    font-size: 22px;
    padding: 5px;
    margin: 10px;
    background: var(--noti-bg-darker);
}

.widget-buttons-grid>flowbox>flowboxchild>button {
    margin: 0;
    background: var(--cc-bg);
    color: var(--text-color);
    transition: var(--hover-transition);
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
    background: var(--blue-base);
    color: var(--cc-bg);
}

.widget-buttons-grid>flowbox>flowboxchild>button:checked {
    background: var(--green-base);
    color: var(--cc-bg);
}

.widget-volume,
.widget-slider {
    background: var(--noti-bg-darker);
    padding: 5px 0 5px 12px;
    margin: 5px 10px;
    font-size: 27px;
    color: var(--blue-base);
}

.widget-slider label {
    font-size: inherit;
}

:root {
    --mpris-album-art-shadow: none;
    --mpris-album-art-overlay: var(--cc-bg);
}

.widget-mpris-player {
    color: var(--text-color);
    background: var(--noti-bg-darker);
    margin: 2px;
    padding: 8px;
}

.widget-mpris .widget-mpris-player .mpris-background {
    opacity: 0;
    background-color: var(--noti-bg-darker);
}

.mpris-overlay {
    padding: 10px;
    padding-bottom: 8px;
}

.mpris-overlay > box:first-child {
    margin-bottom: 8px;
}

/* hide mpris side buttons */
.widget-mpris > box > button {
  opacity: 0;
  padding: 0;
  min-width: 0;
  min-height: 0;
  margin: 0 -10px;
}

.widget-mpris-title {
    font-weight: bold;
    font-size: 20px;
}

.widget-mpris-subtitle {
    font-size: 16px;
}

.mpris-overlay button {
    border-radius: 0;
}
