[Desktop Entry]
Name=Wiremix
GenericName=Audio Mixer
Comment=Configure audio device settings
Exec=kitty --app-id wiremix wiremix
Terminal=false
Type=Application
Keywords=pipewire;sound;audio
Categories=Utility;Settings;ConsoleOnly
StartupNotify=false
