@define-color window_bg_color #16161e;
@define-color accent_bg_color #54546d;
@define-color input_bg_color #1a1b26;
@define-color input_selection_color #283457;
@define-color entry_selection_color #292e42;
@define-color theme_fg_color #f2ecbc;
@define-color error_bg_color #C34043;
@define-color error_fg_color #DCD7BA;

* {
  all: unset;
  font-family: JetBrainsMono NF;
}

popover {
  background: lighter(@window_bg_color);
  border: 1px solid darker(@accent_bg_color);
  border-radius: 0px;
  padding: 10px;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
  background: @window_bg_color;
  padding: 20px;
  border-radius: 0px;
  border: 1px solid darker(@accent_bg_color);
}

.preview-box,
.elephant-hint,
.placeholder {
  color: @theme_fg_color;
}

.box {
}

.search-container {
  border-radius: 0px;
  font-size: 14px;
}

.input placeholder {
  opacity: 0.5;
}

.input selection {
  background: @input_selection_color;
}

.input {
  caret-color: @theme_fg_color;
  background: lighter(@window_bg_color);
  padding: 10px;
  color: @theme_fg_color;
  font-size: 14px;
}

.input:focus,
.input:active {
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
  color: @theme_fg_color;
}

child {
}

.item-box {
  /* border-radius: 10px; */
  border-radius: 0px;
  padding: 10px;
}

.item-quick-activation {
  background: alpha(@accent_bg_color, 0.25);
  /* border-radius: 5px; */
  border-radius0px;
  padding: 10px;
}

/* child:hover .item-box, */
child:selected .item-box {
  background: @entry_selection_color;
}

.item-text-box {
  font-size: 14px;
}

.item-subtext {
  font-size: 13px;
  opacity: 0.5;
}

.providerlist .item-subtext {
  font-size: unset;
  opacity: 0.75;
}

.item-image-text {
  font-size: 28px;
}

.preview {
  border: 1px solid alpha(@accent_bg_color, 0.25);
  border-radius: 0px;
  color: @theme_fg_color;
}

.calc .item-text {
  font-size: 24px;
}

.calc .item-subtext {
}

.symbols .item-image {
  font-size: 24px;
}

.todo.done .item-text-box {
  opacity: 0.25;
}

.todo.urgent {
  font-size: 24px;
}

.todo.active {
  font-weight: bold;
}

.bluetooth.disconnected {
  opacity: 0.5;
}

.preview .large-icons {
  -gtk-icon-size: 64px;
}

.keybinds {
  padding-top: 10px;
  border-top: 1px solid lighter(@window_bg_color);
  font-size: 13px;
  color: @theme_fg_color;
}

.global-keybinds {
}

.item-keybinds {
}

.keybind {
}

.keybind-button {
  opacity: 0.5;
}

.keybind-button:hover {
  opacity: 0.75;
  cursor: pointer;
}

.keybind-bind {
  text-transform: lowercase;
  opacity: 0.35;
}

.keybind-label {
  padding: 2px 4px;
  border-radius: 0px;
  border: 1px solid @theme_fg_color;
}

.error {
  padding: 10px;
  background: @error_bg_color;
  color: @error_fg_color;
}

:not(.calc).current {
  font-style: italic;
}

.preview-content.archlinuxpkgs {
  font-family: monospace;
}
