/**
 * @name system24 (tokyo night)
 * @description a tui-style discord theme. based on tokyo night theme (https://github.com/tokyo-night/tokyo-night-vscode-theme).
 * @author refact0r
 * @version 2.0.0
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/system24
 * @source https://github.com/refact0r/system24/blob/master/theme/system24-tokyo-night.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/

/* import theme modules */
@import url('https://refact0r.github.io/system24/theme/flavors/system24-tokyo-night.theme.css');

body {
    --font: "Noto Sans";
    --code-font: "JetBrainsMono NFM";
    font-weight: 400;
    letter-spacing: normal;

    --border-hover: var(--border);

    --label-color: var(--inactive);
    --label-hover-color: var(--label-color);
}

/* color options */
:root {
    --inactive: #27a1b9;
}
