[Desktop Entry]
Name=MongoDB Compass
Comment=The MongoDB GUI
GenericName=MongoDB Compass
Exec=mongodb-compass --ignore-additional-command-line-flags --ozone-platform-hint=auto --password-store="gnome-libsecret" %U
Icon=mongodb-compass
Type=Application
StartupNotify=true
Categories=Office;Database;Building;Debugger;IDE;GUIDesigner;Profiling;
MimeType=x-scheme-handler/mongodb;x-scheme-handler/mongodb+srv;

